<div class="page-inner">
  <h4 class="title">How many kitkat fingers would you like?</h4>
  <form>
    <div class="card">
      <div class="card--content">
        <input type="radio" name="select" id="select4" />
        <label for="select4"></label>
        <div class="card--count">4</div>
        <p class="">Fingers</p>
        <p class="price">5.00</p>
      </div>
      <div class="card--content">
        <input type="radio" name="select" id="select8" />
        <label for="select8"></label>
        <div class="card--count"></div>
        <p>Fingers</p>
        <p class="price">5.00</p>
      </div>
    </div>
    <button type="button" [routerLink]="['/select-chocolate']" class="btn btn-mobile btn-primary">Next: Ingredients</button>
  </form>
</div>
